{
  "plugins": [ "plugins/markdown" ],
  "markdown": {
    "parser": "gfm",
    "hardwrap": true,
    "githubRepoName": "router.js",
    "githubRepoOwner": "ramiel"
  },
  "opts": {
    "template": "node_modules/grunt-jsdoc/node_modules/ink-docstrap/template"
  },
  "templates": {
    "systemName"            : "router.js",
    "footer"                : "Thank you!",
    "copyright"             : " ",
    "navType"               : "vertical",
    "theme"                 : "cerulean",
    "linenums"              : "true",
    "analytics"             : {"ua":"UA-42285704-1", "domain":"auto"}
  }
}